<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>KEY by</span>
    <a
      b-slate-link
      href="https://chat.milomoon.com" target="_blank"
    >
      Milo
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://chat.milomoon.com" target="_blank"
    >
      Milo's ChatGPT
    </a>
  </p>
</footer>
